{% extends 'base.html' %}
{% block title %}Склад{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="m-3 text-center">Склад</h2>
    <button class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#addProductModal">Добавить товар</button>
    <button class="btn btn-primary m-1" data-bs-toggle="modal" data-bs-target="#addLocationModal">Добавить
        локацию</button>
    {% include 'table.html' %}
</div>

<!-- Модальное окно для добавления товара -->
<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Добавить товар</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form hx-post="{{ url_for('add_product') }}" hx-target="#table-container" hx-swap="outerHTML">
                {{ add_product_form.csrf_token }}
                <div class="modal-body">
                    <div class="form-group">
                        {{ add_product_form.name.label() }}
                        {{ add_product_form.name(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ add_product_form.description.label() }}
                        {{ add_product_form.description(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ add_product_form.price.label() }}
                        {{ add_product_form.price(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    {{ add_product_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Модальное окно для добавления локации -->
<div class="modal fade" id="addLocationModal" tabindex="-1" aria-labelledby="addLocationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title">Добавить локацию</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form hx-post="{{ url_for('add_location') }}" hx-target="#table-container" hx-swap="innerHTML">
                {{ add_location_form.csrf_token }}
                <div class="modal-body">
                    <div class="form-group">
                        {{ add_location_form.name.label() }}
                        {{ add_location_form.name(class="form-control") }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                    {{ add_location_form.submit(class="btn btn-primary") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}